{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "10.8"
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  },
  "plugins": ["@babel/plugin-transform-runtime"]
}
